<h2>Customer List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let customer of customers">
    <td>{{ customer.name }}</td>
    <td>{{ customer.email }}</td>
    <td>{{ customer.phone }}</td>
    <td>{{ customer.address }}</td>
    <td>
      <button [routerLink]="['/edit-customer', customer.id]">Edit</button>
      <button
        *ngIf="authService.isAdmin()"
        (click)="deleteCustomer(customer.id)"
      >
        Delete
      </button>
    </td>
  </tr>
</table>
<button routerLink="/add-customer">Add Customer</button>
